.serchproductaddBTn{
    width: 8%;
    display: none;
}

.forsearchprod{
    width: 100%;
}

.forsearchprod{
    display: none;
}

@media only screen and (min-width:250px) and (max-width:850px) {
    
    .forBLast_content_item1{
        width: 40%;
    }

    .forBLast_content_item2{
        width: 95%;
    }

    .forBLast_content_item3_for_search{
        width: 90%;
    }

    .forBLast_content_item1 h3{
        font-size: x-small;
    }

    .learnMy{
        gap: 4%;
    }

    .forsearchprod{
        display: block;
    }

    .blockserchp{
        display: none;
    }

    /* ////// for category page //// */

    .forBLast_content_item{
        margin: 0%;
    }

    .forBLast_content_item1{
        width: 35%;
    }

    .forBLast_content_item2{
        width: 80%;
    }

    .forBLast_content_item3{
        width: 25%;
        margin: 0%;
    }

    .formmimg{
        width: 100%;
    }

}
