.footer{
    padding: 1% 2%;
    background-color: #1c1d1f;
}

.footercontent{
    display: flex;
    justify-content: space-evenly;
}

.Fbox1{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.Fbox2{
    width: 50%;
}

.footerli{
    color: aliceblue;
    font-size: 15px;
}
.footerli:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footerul{
    list-style-type: none;
    line-height: 25px;
}

.Fbutton{
    background-color: transparent;
    padding: 1%;
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: aliceblue;
    border: 1px solid #fff;
    cursor: pointer;
}

.forfooterBTN{
    display: inline-flex;
    align-items: center;
}

.Fbutton_img{
    width: 20px;
    height: 20px;
    margin-right: 3%;
}

.FContent2{
    float: right;
    padding: 0% 5%;
}

.lastfooter{
    display: flex;
    width: 100%;
}

.LFooter1{
    width: 90%;
}

.Lfooter_img{
    width: 100px;
    height: 50px;
    padding-left: 5%;
}

.LFooter2{
    width: 10%;
    padding-left: 10%;
    float: right;
}

.Lfooter_P{
    color: #fff;
    font-size: 12px;
}


/* //////////////////////////////////// Media Quary for Mobile //////////////////////////////// */


@media only screen and (min-width:200px) and (max-width:850px) {
 
    .footercontent{
        flex-direction: column-reverse;
    }

    .Fbox1{
        margin-left: 3%;
        display: block;
        margin-top: 5%;
    }

    .FContent{
        float: left;
    }

    .Fbutton{
        width: 180px;
    }

    .lastfooter{
        display: block;
        margin-top: -50px;
        height: 80px;
    }

    .Lfooter_img{
        padding-left: 3%;
    }

    .LFooter2{
        width: 95%;
        float: left;
        padding-left: 3%;
    }

}




/* //////////////////////////////////// Media Quary for Tablate //////////////////////////////// */


@media only screen and (min-width:850px) and (max-width:1250px) {
 
    .forlastsection{
        display: block;
    }

    .forlastsectionA img{
        width: 100%;
    }

    .forlastsectionB{
        text-align: center;
    }

    .Fbox1{
        width: 80%;
        justify-content: space-around;
    }

    .Fbox2{
        width: 15%;
    }

    .LFooter1{
        width: 75%;
    }

    .LFooter2{
        width: auto;
        padding-top: 2%;
    }

}

